:root {
  --primary-bg-color: rgba(221, 238, 223, 0.75);
  --primary-button-color: hsl(126, 10%, 40%);
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --heading-color: #272142;
}
body {
  font-family: var(--default-font-family);
}
h1 {
  font-weight: bold;
  line-height: 1.5;
}
h3 {
  font-weight: 600;
}
h2 {
  font-weight: 700;
  font-size: 64px;
}
h4{
  font-size:36px;
}
h1,
h2,
h3,h4 {
  font-family: var(--heading-font-family);
  color: var(--heading-color);
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background: var(--primary-bg-color);
  text-align: center;
  padding: 160px 20px;
}
.hero h3 {
  font-size: 36px;
  margin: 0;
  line-height: 54px;
  color: var(--heading-color);
}
.hero h2 {
  font-size: 24px;
  line-height: 36px;
}
.hero h1 {
  font-size: 96px;
  line-height: 128px;
  color: var(--heading-color);
}

.btn-link {
  border-radius: 4px;
  color: white;
  background: var(--primary-button-color);
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  text-decoration: none;
}

.btn-outline {
  border-radius: 4px;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 20px;
  text-decoration: none;
  color: var(--primary-button-color);
  border: 1px solid var(--primary-button-color);
}
.project-description {
  padding: 120px 60px;
}
@media (max-width: 960px) {
  .project-description {
    padding: 0;
    text-align: center;
  }
  h1 {
    font-size: 44px;
    line-height: 60px;
  }
  h2 {
    font-size: 44px;
  }
  h4{
    font-size:20px;
  }
  .hero h1 {
    font-size: 44px;
    line-height: 2;
  }
  .hero h2 {
    font-size: 24px;
    line-height: 1.5;
  }

  .hero {
    padding: 80px 20px;
  }
  .content-container {
    text-align: center;
    padding: 0;
  }
  .content-container h1 {
    font-size: 44px !important;
    line-height: normal !important;
  }
.contact-button{
  display:none;
  }
  .contact-box{
    justify-content: center;
  }
}

.content-container h1 {
  font-size: 64px;
  line-height: 80px;
}
.content-container h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}
.content-container p {
  font-size: 18px;
}
.content-container {
  padding: 10px 20px;
}

.content {
  padding: 30px;
  text-align: center;
}
.content h3 {
  font-size: 24;
  font-family: var(--default-font-family);
  line-height: 1.5;
  margin: 20px 0 0;
  font-weight: 500;
}
.content p {
  font-size: 14px;
}
.headshot {
  border-radius: 10px;
  max-width: 80%;
}
.content img {
  max-height: 240px;
}
.logo {
  max-width: 50px;
}
.active {
  color: var(--primary-button-color) !important;
  font-weight: bold !important;
}
.background-nav {
  background-color: var(--primary-bg-color);
}
i {
  font: optional;
}
footer .email-link{
  text-decoration:none;
  color:#272142;
  font-size:24px;
  display:flex;
  justify-content: center;
}
footer .email-link:hover{
  color: var(--primary-button-color);
}
.social-links a {
  margin: 0 20px;
color: var(--primary-button-color);
background: var(--primary-bg-color);
padding: 10px 14px;
width:20px;
font-size:20px;
border-radius:50%;
transition:all 150ms ease-in-out;


}
footer{
  margin:60px 0;
}
footer .social-links a:hover{
  color:white;
  background: var(--primary-button-color);

}
footer .contact-box{
  background:var(--primary-bg-color);
  padding: 30px 60px;
  border-radius:10px;
}
footer .contact-button{
  padding:28px 30px;
  border-radius:10px;
}
footer .contact-box p{
  margin:0;
}
.headshot{
  max-height:550px!important;
}
.weather-project{
  background-color:#9ca38e;
}
.open-source-link{
  text-decoration: none;
  color:var(--primary-button-color);
}